
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "ＭＳ Ｐゴシック", sans-serif;
	
}
/*Form Globle */
input[type=text],input[type=email],textarea{
	
	border-radius: none;
	height: 35x;
	color:#555555; 
	padding: 10px; 
	margin: 10px 2px;
	border-color: #099;
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.07);
}
input::placeholder,select::placeholder,
textarea::placeholder {color:#ccc !important; font-size: 13px;}
label{
		display: inline-block;
		font-weight: normal;
		color:#354052;
		font-size: 1em;
		font-weight: 500;
	}

input::placeholder,
select::placeholder,
textarea::placeholder 
{color:#536166 !important; font-size: 20px; }

body{
	background:#F2F4F4;
}
i{
	font-size: 15px;
	text-align: center;
}
input:focus,select:focus,button:focus{
	outline: none;
}
a{
	text-decoration: none;
}

/*Button Globle */

/*Button Globle */
.Btn { border: none; color: white; text-align: center; 
		padding: 12px 24px;  display: inline-block; margin: 4px 2px; cursor: pointer;}
.Btn:hover {opacity: 0.8 !important; }


/*Button Globle */

.card_header h3{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.table_container{
	margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}
.table_container .table_row{
	width: 100%;
	border-collapse: collapse;
}
.table_container .table_row th,td{
	font-size: 15px;
	color: #7a878e;
	border: 1px solid #99939324;
}
.table_container .table_row th{
	background: #099;
	color: #ffffff;
}
.table_container .table_row tbody tr:nth-child(even){
	background: #faffff;

}
.table_container .table_row tr td:focus{
	outline: none;
}
.table_container .table_row tbody tr:hover td{
	background: #ffffeb;
}

/*main container*/
.wrapper .main_container{
	margin-left: 300px;
	width: calc(100%-250px);
	transition: all 0.3s ease;
}
/*main container*/

/*Top bar*/
.wrapper .main_container .top_navbar{
	width: 100%;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;
	top: 0;
	left:250px;
	box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
	transition: all 0.3s ease;
}
.main_container .top_navbar .left_bar{
	width:40px;
	height: 40px;
	position: relative;
	border-radius:7px;
	float: left;
	display: none;
	background-color: #382c46;
	margin-left: 2%;
    margin-top: -1%;

}
.main_container .top_navbar .left_bar .left_bar_inner{
	font-weight: 900;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: 5%;

}
.main_container .top_navbar .left_bar .left_bar_inner .bar-out{
	width: 18px;
    height: 2px;
    background-color: #ccc;
    margin-bottom:5px;
    margin-left: 4px;
}
.main_container .top_navbar .left_bar .left_bar_inner .bar-in{
	width: 27px;
    height: 2px;
   background-color: #ccc;
   margin-bottom: 5px;
}


.main_container .top_navbar .right_bar{
	width: 40px;
	height: 40px;
	position: relative;
}
.main_container .top_navbar .right_bar .right_bar-inner{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    padding: 3px 4px;
    border-radius: 7px;
}
/* End Top bar*/

/*For Header*/
.card_header{
	display: flex;
	padding: 10px;
	color: #273746;
	margin-left: 250px;
	background: #fff;
	margin-top:2px;	
}
.card_header .icon{
	width: 30px;
	height: 30px;
	position: relative;
	border: 1px solid #999;
	border-radius:7px;
	margin-right: 10px;
}
 .card_header .icon .icon_inner{
	font-style: 20px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.card_header .icon_left{
	float: left;
	display: flex;

}
.card_header .icon_left .icon_inner{
	width: 35px;
	border: 1px solid #999;
	border-radius: 7px;	
}

.card_header .icon_right{
	float: right;
	margin-left: 56%;
	
}
.card_header .text{
	margin-left: 10px;
}
/*End Header*/


/*Container*/
.wrapper .main_container .container{
	width: 700px;
   	margin-top: 11%;
	margin-left: 15px;  
}
/*Card Body*/
.main_container .row{
	margin-left: 250px;
}
.card{
	width: 100%;
	background: #fff;
	/*border: 1px solid #ABB2B9;*/
	transition: 0.3s;
	border-radius: 10px;
	border-radius: 13px 13px 0px 0px;
	overflow-x: hidden;
}
.card .card_body{
	padding: 30px;
	background:#F2F4F4;
}
.card_body .text{
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 10px;
	color: #999;
	font-size: 18px;
}
.fa-bell{
	position: relative;
}

.main_container .top_navbar .right_bar .right_bar-inner:before{
	content: "";
    width: 8px;
    height: 8px;
    margin-top: -17px;
    border-radius: 9999px;
    position: absolute;
    right: 0;
    background-color: #d32929;
    top:18px;
}

/*Responsive*/
/* smartphones, iPhone, portrait 480x320 phones */ 
@media only screen   and (min-device-width : 320px)  and (max-device-width : 480px){ 
	
	.wrapper .sidebar .sidebar_inner{
		left: -100%;
	}
	.wrapper .main_container{
		width: 100%;
		margin-left: 0;
	}
	.wrapper .main_container .container{
		width: 100%;
		margin: auto;
   		margin-top: 20px;
	}
	
	.wrapper .main_container .top_navbar{
		left: 0;
		width: 100%;
		height:75px;
		background: #10002b;
	}	
	.main_container .top_navbar .right_bar{
		margin-right: -9px;
        margin-top: -1%;
	}
	.main_container .top_navbar .left_bar{
		margin-left: 2%;
        margin-top: -1%;
	}
	.main_container .top_navbar .left_bar,
	.wrapper .close{
		display: block;
	}
	.wrapper.active .sidebar .sidebar_inner{
		left: 0;
	}
	.wrapper.active .bg_shadow{
		visibility: visible;
		opacity: 0.3;
	}
	.card .card_body .box_container{
		margin-bottom: 1.4rem;
	}
	.main_container .card_header {
		margin-top:-3%;
	}
	.card_header .icon_right .fa-cog{
		text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
	}

}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait) 
{		 
	.wrapper .sidebar .sidebar_inner{
		left: -100%;
	}
	.wrapper .main_container{
		width: 100%;
		margin-left: 0;
		overflow-x: hidden;
		
	}
	.wrapper .main_container .container{
		width: 900px;
		margin:30px auto;
	}
	.wrapper .main_container .top_navbar{
		left: 0;
		width: 100%;
	}
	.main_container .top_navbar .right_bar{
		margin-right: 0px;
	}
	.main_container .top_navbar .left_bar,
	.wrapper .close{
		display: block;
	}
	.wrapper.active .sidebar .sidebar_inner{
		left: 0;
	}
	.wrapper.active .bg_shadow{
		visibility: visible;
		opacity: 0.2;
	}

	.card .card_body .box_container .box{
		margin-bottom: 1.5rem;
	}
	.card{
		border-radius: 0px 0px 0px 0px;
	}
	.card_header .icon_left .text {
   	   margin-top: 4px;
	}
	.card_header .icon_right {
		margin-left: 82%;
	}
}

/* your css rules for ipad landscape */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
 	.wrapper .sidebar .sidebar_inner{
		left: -100%;
	}
	.wrapper .main_container{
		width: 100%;
		margin-left: 0;
		overflow-x: hidden;
		
	}
	.wrapper .main_container .container{
		width: 900px;
		margin:30px auto;
	}
	.wrapper .main_container .top_navbar{
		left: 0;
		width: 100%;
	}
	.main_container .top_navbar .right_bar{
		margin-right: 0px;
	}
	.main_container .top_navbar .left_bar,
	.wrapper .close{
		display: block;
	}
	.wrapper.active .sidebar .sidebar_inner{
		left: 0;
	}
	.wrapper.active .bg_shadow{
		visibility: visible;
		opacity: 0.2;
	}

	.card{
		width: 700px;
		margin:auto;
	}
	.card .card_body .box_container .box{
		margin-bottom: 1.5rem;
	}
	.card{
		border-radius: 0px 0px 0px 0px;
	}
	.card_header .icon_left .text {
   	   margin-top: 4px;
	}
	.card_header .icon_right {
		margin-left: 79%;
	}
}


/* write for pc*/
@media screen and (min-width: 1224px)
 {
 	.wrapper .main_container{
		width: 100%;
		margin-left: 250px;
		margin:auto;
	}

	.main_container .top_navbar .right_bar{
		margin-left: 100%;
		
	}
	.wrapper .main_container .top_navbar{
		margin-top: -5px;
	}
	.card .card_body .box_container .box{
		margin-bottom: 1.5rem;
	}
	.card .card_body .box_container_two .box_two{
		margin-bottom: 5rem;
	}
	/*button */
	.half-signup{
		margin-left:20%;
	}
	.table_container .table_row th,td{
		padding: 10px 5px;
	}
	.table_container .table_row th,td{
		font-size: 15px;
		color: #7a878e;
		text-align: left;
		border: 1px solid #99939324;
}
   	
 }


